<h1><%= @workorder.title %></h1>
<p><%= @workorder.created_at %></p>
<p><%= @workorder.multiplier %></p>
<p><%= @workorder.labor_hours %></p>
<p><%= @workorder.description %></p>
<%= link_to "Edit", edit_workorder_path %>